section#team, section#about_us{
    text-align: center;
}
p{
    margin: 20px;
    font-weight: bold;
}
h1, section#jehan, section#yonan, section#hadi, section#yousef h1{
    color: #00aaff;
    margin: 40px;
}
section#jehan, section#yonan, section#hadi, section#yousef{
    margin: 5%;
    margin-bottom: 2.5%;
    padding: 15px;
}

div#yousef, div#hadi{
    margin: 5%;
    padding: 2.5%;
    margin-top: 2.5%;
    display: inline-block;
}
div#jehan, div#yonan{
    margin-bottom: 2.5%;
    margin: 5%;
    padding: 2.5%;
    display: inline-block;
}
div#about{
    background-color: #ffffff;
}
div#about a{
    color: #00aaff;
}
div#about a:hover{
    color: #00ffff;
}
a img{
    height: 50px;
    width: 50px;
    margin: 1%;
    padding: 1%;
}