div#home{
    background-color: #ffffff;
}
div#home a, section div a p{
    color: #00aaff;
}
div#home a:hover, section div a p:hover{
    color: #00ffff;
}
section div {
    display: inline-block;
    margin: 2.5%;
    padding: 1.25%;
}
section div a p:active{
    color: #00ff6a;
}
